.textarea{
    outline: none;
    font-size: 18px;
  }
  .labelName
  {
      outline: none;
      border: none;
  }
  .labelfield
  {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }
  .editLabel
  {
    background-color: #fff;
    border-radius: 1px;
    overflow-y: auto;
    padding: 0;
    width: 300px;
    border: none;
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);
    position: fixed;
    z-index: 5001;
  }
 .flextextfield
 {
     margin-bottom: 10px;
 }
 .labelicons
 {
     cursor: pointer;

 }
 .maincontaineredit
 {
    max-height: 392px;
    overflow-y: auto;
    padding: 15px;
 }