<div class="editLabel">
    <div class="maincontaineredit">
        <div class="editlabelhead">Edit label</div>
        <div class="flextextfield labelfield">

            <div class="labelIconAndDelete">
                <mat-icon class="labelicons">clear</mat-icon>
            </div>
            <input [(ngModel)]="data.name" class="textarea" matInput placeholder="CreateLabel">
            <mat-icon class="labelicons labelIconAndDelete " (click)="onClickCreateLabel(data)" *ngIf="data.name">done
            </mat-icon>
        </div>

        <div *ngFor="let label of data.labels" class="labelfield">
            <div class="labelIconAndDelete" >
                <mat-icon class="labelicons" (mouseover)="deleteicon=true" *ngIf="!deleteicon">label</mat-icon>
                <mat-icon *ngIf="deleteicon" (mouseout)="deleteicon=false" class="labelicons"
                    (click)="onClickDeleteLabel(label)">delete</mat-icon>
            </div>
            <div class="textarea" contenteditable="true" id="text" #labl>
                {{label.labelName}}</div>
            <mat-icon class="labelicons labelIconAndDelete" (click)="editLabel(label)">edit</mat-icon>
        </div>
    </div>
    <div class="labelfooter">
            <button mat-button (click)="onNoClick()" >Done</button>
    </div>
</div>