.icon
{
    margin-right: 2ex;
    cursor: pointer;
}

.colormenu
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
}
.colorrow
{
    display: flex;
    margin-left: 2px;
    margin-right: 2px;
}