.mainContainer
{
    width: 50%;
    min-width: fit-content;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    
    height: 20px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
    // justify-content: flex-start !important;
}
.createmode
{
     height: auto;
     min-height: 44px;
     box-shadow: 2px grey;
     border-radius: 4px;
}

.inputfield
{
    width: 90%;
    font-size: 16px;
    border: 0px;
    outline: none;
    margin-bottom: 10px;
}
.Note
{
    resize: none;
    
}
.toolbarinNotes
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
.icon
{
    margin-right: 16px;
}

::ng-deep .mat-menu-content
{
    padding: 0ex !important;
}
