.mainContainer
{
    width: 40%;
    min-width: fit-content;
    display: flex;
    flex-flow: column wrap;
   
    height: 20px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
}
.createcard
{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    color: grey;
    .icon
    {
        margin-right: 5px;
    }
    h2
    {
        font-size: 16px;
    }
}
.titlebar
{
    display: flex;
    flex-direction: row;
    .pinicon
    {
        cursor: pointer;
    }
}

.createmode
{
     height: auto;
     min-height: 44px;
     box-shadow: 2px grey;
     border-radius: 4px;
}

.inputfield
{
    width: 100%;
    font-size: 16px;
    border: 0px;
    outline: none;
    margin-bottom: 10px;
    text-align: start;
}
.Note
{
    resize: none;
    
}
.toolbarinNotes
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.basictext
{
    margin-top: -6px;
}