<div class="notes">
    <mat-card class="getNotesMat" *ngFor="let note of notes" [ngStyle]="{'background':note.color}" (click)="openNoteDialog(note)">
        <mat-icon class="pinicon">push_pin</mat-icon>
            
        <img src='{{note.image}}' alt='' style="margin-bottom: 10px;">
        <div>
           <div class="titlebar" > <mat-card-title class="title" (click)="openNoteDialog(note)">
                {{note.title}}
            </mat-card-title>
        </div>
        <div class="desc" (click)="openNoteDialog(note)">
                {{note.description}}
            </div>
        </div>
        <app-icons [note]="note"></app-icons>
    </mat-card>
</div>