<div class="RegisterPage">
    <mat-card class="mainContainer">
        <div class="LeftDivision">
            <h3 class='Header'>
                <span style="color: blue;">F</span>
                <span style="color:red;">U</span>
                <span style="color:orangered;">N</span>
                <span style="color: green;">D</span>
                <span style="color: blue;">O</span>
                <span style="color: red;">O</span>
            </h3>
            <h2 class='sub-header'>Create your Fundoo Notes account</h2>
            <div>
                <form  [formGroup]="RegistrationForm"  class='RegisterForm'>
                    <div class='RowContainer'>
                        <div>
                            <mat-form-field class ='FormField'appearance="outline">
                                <mat-label>First Name</mat-label>
                                <input matInput formControlName="firstName">
                                <!-- <mat-error *ngIf="firstName.invalid">fddsfd</mat-error> -->
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class ='FormField' appearance="outline">
                                <mat-label>Last Name</mat-label>
                                <input matInput formControlName="lastName">
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <mat-form-field class ='FormField' appearance="outline">
                            <mat-label>UserName</mat-label>
                            <input matInput>
                            <mat-hint>You can use letters,numbers & periods</mat-hint>
                            <mat-icon matSuffix style="font-size: 20px;">.com</mat-icon>
                        </mat-form-field>
                    </div>
                    <div class='RowContainer passwordfield'>
                        <div>
                            <mat-form-field class ='FormField' appearance="outline">
                                <mat-label>Password</mat-label>
                                <input matInput [type]="hide? 'password' : 'text'">
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field class ='FormField' appearance="outline">
                                <mat-label>Confirm</mat-label>
                                <input matInput [type]="hide? 'password' : 'text'">
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-hint class='passwordHint'>Use 8 or more characters with a mix of
                        letters, numbers & symbols</mat-hint>
                    <div class='RowContainer'>
                        <div class="check">
                            <mat-checkbox id="showPassword" (change)='hide=!hide' >Show Password</mat-checkbox>
                        </div>
                    </div>
                    <div class="ButtonContent">
                        <a mat-button href="/login" >Sign in</a>
                        <button mat-flat-button color="primary" click='Register()'>Register</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="RightDivision">
            <img src="../assets/Register/signin.jfif">
            <p>One account. All of Google <br>
                working for you.</p>
        </div>
    </mat-card>
</div>