<div>
    <mat-card>
        <div>
            <h3>Fundoo</h3>
            <span>Create your Fundoo Notes account</span>
            <div>
                <form>
                    <div class='UserName'>
                        <mat-form-field appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline">
                            <mat-label>UserName</mat-label>
                            <input matInput>
                            <mat-hint>You can use letters,numbers & periods</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class='Password'>
                        <mat-form-field appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput>
                        </mat-form-field>
                        <mat-form-field appearance="outline">
                            <mat-label>Confirm</mat-label>
                            <input matInput>
                        </mat-form-field>     
                    </div>
                    <div>
                        <a mat-button href="https://www.google.com/" target="_blank">Sign in</a>
                        <button mat-flat-button color="primary">Next</button>
                    </div>
                </form>
            </div>
        </div>
        <div>
            <img src="../assets/Register/signin.jfif">
            <pre>One account. All of Google 
                  working for you.</pre>
        </div>
    </mat-card>
</div>