<div class="LoginPage">
    <mat-card class="MainContainer">
        <div class='HeaderContent'>
            <h3 class='Header'>
                <span style="color: blue;">F</span>
                <span style="color:red;">U</span>
                <span style="color:orangered;">N</span>
                <span style="color: green;">D</span>
                <span style="color: blue;">O</span>
                <span style="color: red;">O</span>
            </h3>
        </div>
        <div class='HeaderContent'>
            <h2>Account Recovery</h2>
        </div>
        <div class="sub-header">
          <p>Enter your email id to recover the password</p>
         </div>
        <div>
            <form [formGroup]="ForgetPassword">
                <div class='RowContainer'>
                    <div>
                        <mat-form-field appearance="outline" class='formField'>
                            <mat-label formControlName="Email">Email</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                   
                    <div class="ButtonContent">
                        <button mat-flat-button color="primary">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </mat-card>
</div>
