@mixin columflex {
    display: flex;
    flex-flow: column;
    justify-content: center;
}
@mixin rowflex {
    display: flex;
    flex-flow: row;
    justify-content: center;
}
@mixin bordered($color, $width) {
    border: $width solid $color;
  }
@mixin headingfont($size,$fontfamily) {
    font-family: $fontfamily;
    font-size: $size;
}
.ForgetPasswordpage
{
    @include rowflex();
    min-width: 35%;
    align-items: center;
}
.MainContainer
{
   @include columflex();
  padding: 8ex 5ex 8ex 5ex;
  width: 30%;
  height: 90%;
  margin-top: 8%;
  padding-bottom:8ex ;

  @include bordered(#c6c3ca, 1px);
  box-shadow: none;
}
.mat-h3 , .mat-subheading-2, .mat-typography h3
{
    margin: 0px;
}
.HeaderContent
{
    @include rowflex();
    color: #202124;
    align-items: center;
    text-align: center;
    h2
   {  
    @include headingfont(29px,"'Google Sans','Noto Sans Myanmar UI',arial,sans-serif");
    padding-bottom: 10px;
    padding-top: 0px;
    font-weight: 400;
    line-height: 1.3333;
    margin-bottom: 10px;
    margin-top: 0;
   }
   .Header
   {
    @include headingfont(25px, " 'roboto','Noto Sans Myanmar UI',arial,sans-serif");
   }
}
.sub-header
{
    margin-left:11px;
    @include headingfont(20px, " 'roboto','Noto Sans Myanmar UI',arial,sans-serif");
}
.RowContainer
{ 
    @include columflex();
    margin-top: 5px;
}
.formField
{
    min-width: 95% ;
    margin-right: 10px;
    padding:10px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.ButtonContent
{
   @include rowflex();
   justify-content: space-between;
    padding-top: 30px;
    margin-right: 10px;
   
    button{
        color: white;
        background-color: var(--gm-colortextbutton-ink-color,#1a73e8);
    }
    a 
{
    margin-top: 5px;
    color: var(--gm-colortextbutton-ink-color,#1a73e8);
}
}

.passwordfield
{
    margin-bottom: 0px;
}
.check
{
    margin-top: 5ex;
    margin-left: 10px;
}
@media screen and (max-width: 850px)
{
    .MainContainer
{
    width: 50%;
    height: 80%;
}
.sub-header
{
    text-align: center;
}
}
@media screen and (max-width: 600px)
{
   .MainContainer
    {
      width: 100%;
      height: 80%;
      @include bordered(#c6c3ca, 0px);
    }
}
@media screen and (max-width: 300px)
{
    .ButtonContent
    {
        @include columflex();
    }
}
