<div class="notes">
    <mat-card class="getNotesMat" *ngFor="let note of notes" [ngStyle]="{'background':note.color}" >
        <mat-icon class="imageclose " *ngIf="note.image!=null" (click)="removeImage(note)">close</mat-icon>
        <mat-icon class="pinicon material-icons"  *ngIf="note.pin"  (click)="pinNote(note.notesId)" >push_pin</mat-icon>
        <mat-icon class="pinicon material-icons-outlined" *ngIf="!note.pin"  (click)="pinNote(note.notesId)" >push_pin</mat-icon>
        
        <img src='{{note.image}}' alt='' style="margin-bottom: 10px;border-top-right-radius: 8px;border-top-left-radius:8px ;" (click)="openNoteDialog(note)">
        <div class="datacontent">
           <div class="titlebar" > <mat-card-title class="title" (click)="openNoteDialog(note)">
                {{note.title}}
            </mat-card-title>
        </div>
        <div class="desc" (click)="openNoteDialog(note)">
                {{note.description}}
            </div>
        </div>
        <div class="chip">
            <div class="remainderchip" *ngIf="note.remainder!=null">
                <div class="remaindercard">
                    <div class="remaindercontent">
                        <mat-icon>schedule</mat-icon>
                        <label>{{note.remainder}}</label>
                        <mat-icon (click)="RemoveRemainder(note)">close</mat-icon>
                    </div>
                </div>
        </div>
        <app-get-label [note]="note"></app-get-label>
</div>
        <div class="iconDiv">
        <app-icons [note]="note"></app-icons>
    </div>
    </mat-card>
</div>
