<h1 mat-dialog-title>Collaborator</h1>
<div >
<div class="ownerfield">
    <mat-icon class="icon" style="color: grey;">person_add</mat-icon>
    <div class="ownerdata">
        <div>
     <mat-label class="name">{{ownername}}</mat-label>
     <span matSuffix class="suffix" >(owner)</span>
     </div>
    <mat-label>{{owner}}</mat-label>
    </div>
</div>  
<div class="ownerfield collaboratorfield" *ngFor="let colaborator of collaboratorList" > 
  <mat-icon class="icon" style="color: grey;">person_add</mat-icon>
   <mat-label class="name colaboratorname collaboratorinput">{{colaborator.emailId}}</mat-label>
   <mat-icon class="save" (click)="Removecollaborator(colaborator)" >close</mat-icon>
</div>  
<div class="ownerfield collaboratorfield">
    <mat-icon class="icon" style="color: grey;">person_add</mat-icon>
    <input class="colaboratorname collaboratorinput "matInput [(ngModel)]="data.email" >
    <mat-icon class="save" *ngIf= "data.email" (click)="Addcollaborator()" >done</mat-icon>
  </div>
</div>
<div mat-dialog-actions class="button">
  <button mat-button (click)="onNoClick()">close</button>
</div>
