<div class="LoginPage">
    <mat-card class="MainContainer">
        <div class='HeaderContent'>
            <h3 class='Header'>
                <span style="color: blue;">F</span>
                <span style="color:red;">U</span>
                <span style="color:orangered;">N</span>
                <span style="color: green;">D</span>
                <span style="color: blue;">O</span>
                <span style="color: red;">O</span>
            </h3>
        </div>
        <div class='HeaderContent'>
            <h2>Sign In</h2>
        </div>
        <div class='HeaderContent '>
            <h3 class="subHeader">Use your Fundoo Account</h3>
        </div>
        <div>
            <form>
                <div class='RowContainer'>
                    <div>
                        <mat-form-field appearance="outline" class='formField'>
                            <mat-label>Email Id</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div >
                        <mat-form-field appearance="outline" class="passwordfield formField">
                            <mat-label>Password</mat-label>
                            <input [type]="hide? 'password' : 'text'" matInput>
                        </mat-form-field>
                    </div>
                    <div class="check">
                        <mat-checkbox id="showPassword" (change)='hide=!hide'>Show Password</mat-checkbox>
                    </div>
                    <div>
                        <a mat-flat-button href="https://www.google.com/" target="_blank">Forget Password?</a>
                    </div>
                    
                    <div class="ButtonContent">
                        <a mat-button href="/register">Create new account</a>
                        <button mat-flat-button color="primary">Log In</button>
                    </div>
                </div>
            </form>
        </div>
    </mat-card>
</div>