.example-spacer {
    display: flex;
    justify-content: space-around;
    flex: 1 1 auto;
  }
  ::ng-deep .mat-preffix
{
    position: unset !important;
}
.searchcard
{
  display: flex;
  justify-content: space-around;
  padding: 10px !important;
  width:55%;
}
.searchinput
{
  border: 0px;
  width: 100%;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 3px;
}
 .material-icons
{
  font-size: 26px !important;
}
.toolbaricon
{
  font-size: 30px !important;
}
.righticon
{
  margin-right: 10px;
}