.example-spacer {
    display: flex;
    justify-content: space-around;
    flex: 1 1 auto;
  }
  ::ng-deep .mat-preffix
{
    position: unset !important;
}
.searchcard
{
  display: flex;
  justify-content: space-around;
  padding: 10px !important;
  width:55%;
}
.searchinput
{
  outline: none;
  border: 0px;
  width: 100%;
  font-size: 20px;
  padding-left: 10px;
  padding-top: 3px;
}
 .material-icons
{
  font-size: 26px !important;
}
.toolbaricon
{
  font-size: 30px !important;
}
.righticon
{
  margin-right: 10px;
}
.maincontainer {
  
  height: 100ex;
  border: 0px solid #555;
}
.navigationcontainer
{
  padding: 12px;
  display: flex;
  flex-direction: column;
  width: 200px;
}
.navigator
{
  padding: 10px 0px 10px 0px;
  mat-icon
  {
    margin-right: 20px;
  }
}