<mat-card class="updateMode mainContainer" [ngStyle]="{'background':data.note.color}">
       
        <div class="titlebar">
        <input id="titlefield" [ngStyle]="{'background':data.note.color}" matInput [(ngModel)]="data.note.title" class=" inputfield Title" placeholder="Title" value="{{data.title}}" > 
       </div>
        <textarea id="desfield" [ngStyle]="{'background':data.note.color}" matInput  class="inputfield Note" [(ngModel)]="data.note.description" placeholder="Take a note .." id="textarea"
            (keyup)="autogrow()"></textarea>
        <div class="toolbarinNotes">
            <div class="CreateIconList">
               <app-icons [note]="data.note"></app-icons>
            </div>
            <div>
                <button mat-flat-button class="closebutton " (click)='updateNote()'>close</button>                
            </div>
        </div>
   
</mat-card>