
    <div class="labelnote">pinned</div>
    <div class="notes" >
    <div  *ngFor="let note of notes" (mouseover)="showicon=true">
        <mat-card class="getNotesMat" *ngIf="note.pin" [ngStyle]="{'background':note.color}">
            <mat-icon class="imageclose " *ngIf="note.image!=null"  (click)="removeImage(note)">close</mat-icon>
            <mat-icon class="pinicon " *ngIf="note.pin " (click)="pinNote(note.notesId)">push_pin</mat-icon>
            <img src='{{note.image}}' alt='' style="margin-bottom: 10px;border-top-right-radius: 8px;border-top-left-radius:8px ;" (click)="openNoteDialog(note)">
            <div (click)="openNoteDialog(note)" class="datacontent">
                <div class="titlebar">
                    <mat-card-title class="title">
                        {{note.title}}
                    </mat-card-title>
                </div>
                <div class="desc" (click)="openNoteDialog(note)">
                    {{note.description}}
                </div>
            </div>
            <div class="chip">
            <div class="remainderchip" *ngIf="note.remainder!=null">
                <div class="remaindercard">
                    <div class="remaindercontent">
                        <mat-icon>schedule</mat-icon>
                        <label>{{note.remainder}}</label>
                        <mat-icon (click)="RemoveRemainder(note)">close</mat-icon>
                    </div>
                </div>
        </div>
        <app-get-label [note]="note"></app-get-label>
</div>
            <div style="width: 100%;">
            <div class="iconDiv" >
            <app-icons [note]="note" (mouseout)="showicon=false"></app-icons>
            </div>
        </div>
            <div style="margin:2px"></div>
        </mat-card>
        
    </div>
</div>
    <div class="labelnote">others</div>
    <div class="notes">
        <div  *ngFor="let note of notes" (mouseover)="showicon=true" >
        <mat-card class="getNotesMat" *ngIf="!note.pin " [ngStyle]="{'background':note.color}">
            <mat-icon class="imageclose " *ngIf="note.image!=null" (click)="removeImage(note)">close</mat-icon>
            <mat-icon class="pinicon material-icons-outlined" (click)="pinNote(note.notesId)">push_pin</mat-icon>
           <div class="floticon"></div>
           <img src='{{note.image}}' alt='' style="margin-bottom: 10px;border-top-right-radius: 8px;border-top-left-radius:8px ;" (click)="openNoteDialog(note)">
            <div (click)="openNoteDialog(note)" class="datacontent">
                <div class="titlebar">
                    <mat-card-title class="title">
                        {{note.title}}
                    </mat-card-title>
                </div>
                <div class="desc" (click)="openNoteDialog(note)">
                    {{note.description}}
                </div>
            </div>
            <div class="chip">
                <div class="remainderchip" *ngIf="note.remainder!=null">
                    <div class="remaindercard">
                        <div class="remaindercontent">
                            <mat-icon>schedule</mat-icon>
                            <label>{{note.remainder}}</label>
                            <mat-icon (click)="RemoveRemainder(note)">close</mat-icon>
                        </div>
                    </div>
            </div>
            <app-get-label [note]="note"></app-get-label>
    </div>
        <div class="iconDiv">
            <app-icons [note]="note" (mouseout)="showicon=false"></app-icons>
        </div>
        </mat-card>
    </div>
</div>