.getNotesMat{
    display: flex;
    flex-flow: column;
    margin: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    height: fit-content;
}
.notes {
    display: flex;
    flex-wrap: wrap;
    padding-right: 5ex;
    padding-left: 10ex;
}
.desc
{
    margin-bottom: 10px;
    margin-top: 2ex;
}
.titlebar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .pinicon
    {
        cursor: pointer;
    }
}
.notescontainer
{
    margin-bottom: 4ex;
}
.labelnote
{
    padding-left: 10ex;
    font-size: 20px;
}
.pinicon
{
    position: absolute;
    top: 11px;
    right: 10px;
}