<div class="LoginPage">
    <mat-card class="MainContainer">
        <div class='HeaderContent'>
            <h3 class='Header'>
                <span style="color: blue;">F</span>
                <span style="color:red;">U</span>
                <span style="color:orangered;">N</span>
                <span style="color: green;">D</span>
                <span style="color: blue;">O</span>
                <span style="color: red;">O</span>
            </h3>
        </div>
        <div class='HeaderContent'>
            <h2>Change password</h2>
        </div>
        <div class="sub-header">
        <h3>Create a strong password</h3>
         <p>Create a new, strong password that you don’t use for other websites</p>
         </div>
        <div>
            <form [formGroup]="ResetPassword">
                <div class='RowContainer'>
                    <div>
                        <mat-form-field appearance="outline" class='formField'>
                            <mat-label formControlName="password">New password</mat-label>
                            <input matInput>
                        </mat-form-field>
                    </div>
                    <div>
                        <mat-form-field appearance="outline"  class="passwordfield formField" >
                            <mat-label >Confirm Password</mat-label>
                            <input matInput formControlName="cpassword" pattern="{{this.ResetPassword.value.password}}" >
                            <mat-hint class='passwordHint'>Use 8 or more characters with a mix of letters, numbers & symbols</mat-hint>
                        </mat-form-field>
                    </div>
                    <div class="check">
                        <mat-checkbox id="showPassword" >Show Password</mat-checkbox>
                    </div>
                   
                    <div class="ButtonContent">
                        <button mat-flat-button color="primary">Next</button>
                    </div>
                </div>
            </form>
        </div>
    </mat-card>
</div>